# ======================
# ENV / SECRETS
# ======================
.env
.env.*
*.pem
*.key

# ======================
# NODE.JS
# ======================
node_modules/
npm-debug.log*
yarn-error.log*

# ======================
# JAVA / SPRING BOOT
# ======================
target/
*.class
*.jar

# ======================
# .NET
# ======================
bin/
obj/

# ======================
# LOGS
# ======================
logs/
*.log

# ======================
# OS / IDE
# ======================
.DS_Store
Thumbs.db
.vscode/
.idea/
cart-service/appsettings.json
auth-service/src/main/resources/application.properties
.env
